/* GLOBAL TYPOGRAPHY */
body {
    background-color: #b5ebb0;
    font-family: 'Roboto', sans-serif;
    color: #313131;
    font-size: 1.25em;
  }
  
    
  /* FLEXBOX LAYOUT */
  html, body {
    min-height: 100vh;
    margin: auto;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  header {
    height: 8em;
    background-color: #62aa66;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgb(10, 57, 28)
  }
  main {
    flex: auto;
    max-width: 80%;
    margin: auto;
  }
  footer {
    height: 8em;
    background-color: #3c8971;
    text-align: center;
  }
  
  
  /* HEADER/FOOTER */
  header, footer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-size: 2.5em;
  }
  
  
  /* FORM ELEMENTS */
  input {
    padding: .5em;
    width: 150px;
    background: #f8ffb9;
    border: 1px solid;
  }
  button {
    padding: .5em;
    width: 75px;
    color: #7eca82;
    background: #1a4330;
  }
  
  
  /* TABLE */
  table {
    width: 100%;
    text-align: left;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    height: 2.15em;
  }
  th, td {
    padding: .5em;
    min-width: 3.5em;
  }
  thead {
    background: #327142;
    color: hsl(0, 0%, 100%);
  }
  tbody tr:nth-child(odd){ 
    background: #cefdee;
  }
  tbody tr:nth-child(even){
    background: #dcdcdc;
  }
  